<p id="notice"><%= notice %></p>

<p>
  <strong>Vorname:</strong>
  <%= @user.vorname %>
</p>

<p>
  <strong>Nachname:</strong>
  <%= @user.nachname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<br>
<%= image_tag @user.image.url(:medium), :class => "mediumbilder" %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
